{% extends "en/navigation.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/page-contact.css' %}" />
{% endblock %}

{% block title %}About Us | Urban Cactus{% endblock %}

{% block content %}
<section id="about">
	<h1 class="align-center">About Us</h1>
	<br>
	<br>

	<div class="column-2">
		<strong>Mission</strong>
		<p>To promote urban sustainable lifestyles through Social Camping, Allinaces, Porducts and Community Outreach. We operate in a not-for-profit sustainable social business model.

</p>
	</div>

	<div class="column-2">
		<strong>Vision</strong>
		<p>We believe each individuals lifestyle can have an impact on the sustainable relationship between individuals, environment and the community. We hope to inspire and make sustainability accessible in urban day to day livings so that we can create a driving force and foundation for the realization of the Global Sustainable Development Goals uniting all stakeholders. </p>
	</div>
</section>
{% endblock %}
