{% extends "en/navigation.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/page-index.css' %}" />
<script type="text/javascript" src="{% static 'core/js/jquery.slides.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/page-index.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/slideshow.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/map.js' %}"></script>

<!--
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
	integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
	crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
	integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
	crossorigin=""></script>
-->
<link rel="stylesheet" type="text/css" href="{% static 'core/leaflet/leaflet.css' %}" />
<script type="text/javascript" src="{% static 'core/leaflet/leaflet.js' %}"></script>

<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'core/leaflet-markers/leaflet.markers.css' %}" />
<script type="text/javascript" src="{% static 'core/leaflet-markers/leaflet.markers.min.js' %}"></script>
{% endblock %}

{% block slideshow %}
<section id="intro">
	<div id="slideshow" data-image-width="1800" data-image-height="900">
		<img src="{% static 'core/images/home/slide1.png' %}"></img>
		<img src="{% static 'core/images/home/slide2.png' %}"></img>
	</div>
</section>
{% endblock %}

{% block content %}
<section id="about">
	<strong>Mission</strong>
	<p>To promote urban sustainable lifestyles through Social Allinaces, Porducts and Community Outreach. </p>
	<div>
		<img src="{% static 'core/images/home/about.png' %}"></img>
	</div>
	<br>
	<div>
		<img src="{% static 'core/images/home/icon1.png' %}"></img>
		<img src="{% static 'core/images/home/icon2.png' %}"></img>
		<img src="{% static 'core/images/home/icon3.png' %}"></img>
		<img src="{% static 'core/images/home/icon4.png' %}"></img>
		<p>Sustsinable Development Goals that we are addressing through our current actions.</p>
	</div>
</section>

<section class="map-details">
	<div class="align-center">Till August 2017, though our initiatives</div>

	<div class="align-center column-2">
		<big>100</big>
		Plastic Containers Avoided
	</div>

	<div class="align-center column-2">
		<big>32</big>
		Participating Restaurants
	</div>
</section>

<section style="position: relative;">
	<div id="map">
		<!-- The map will be inserted here when the page loads -->
		<!--aside class="desktop-only">Test</aside-->
	</div>

	<aside class="map-details">
		<p class="align-left">This is the description of the map.</p>

		<div class="align-center">
			<big>100</big>
			Plastic Containers Avoided
		</div>

		<div class="align-center">
			<big>32</big>
			Participating Restaurants
		</div>
	</aside>
</section>

<section id="products">
	<h1>PRODUCTS</h1>

	<header>
		<img src="{% static 'core/images/home/brand.png' %}"></img>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</header>

	<h2>SERVICES</h2>
		<header>
			<p>Assessment  and Certification for restaurants, coffee shops and bars.</p>
	 		<p>Design Solutions for sustainable business operations.</p>
			<p>Assistance with public relations and marketing on your sustainability efforts.</p>
		</header>
	<div class="clearfix"></div>

	<div id="product-series">
		{% for series in product_series %}
			<article>
				<a href="{{ series.get_absolute_url }}">
					<img src="{% static 'core/images/series-images/' %}{{ series.image }}"></img>
					<div>
						<strong>{{ series.english_name }}</strong>
					</div>
				</a>
			</article>
		{% endfor %}

		<article>
			<a href="/products">
				<strong>OTHERS</strong>
			</a>
		</article>
	</div>
</section>

{% if events.count > 0 %}
<section id="events">
	<h1>EVENTS</h1>
	{% for event in events %}
		<article>
			<a href="{{ event.get_absolute_url }}"><img src="{% static 'core/images/events/' %}{{ event.image }}"></img></a>
			<strong><a href="{{ event.get_absolute_url }}">{{ event.english_name }}</a></strong>
			<p>{{ event.english_introduction }}</p>
			<small>{{ event.event_date }} / <a href="{{ event.get_absolute_url }}">read more</a></small>
		</article>
	{% endfor %}
</section>
{% endif %}
{% endblock %}
