{% extends "cn/navigation.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/page-contact.css' %}" />
{% endblock %}

{% block title %}About Us | Urban Cactus{% endblock %}

{% block content %}
<section id="about">
	<h1 class="align-center">About Us</h1>
	<br>
	<br>

	<div class="column-2">
		<strong>我们的使命</strong>
		<p>立足于可持续城市日常生活中的衣食住行用等基本方面，通过社会行动 | 产品 | 社区营造的形式来促进个人、社区与环境的可持续关系。UC 是一个社会事业（Social Bussiness)，不进行分红，不以盈利为最终目的 (not for profit)，而致力于以可持续的商业模式解决社会问题。</p>
	</div>

	<div class="column-2">
		<strong>憧憬</strong>
		<p>我们相信每个人的生活方式都能极大的影响到基于个人、环境、社区之间的可持续发展关系，当今我们希望能激发人们的意识并且让持续发展变得更容易，所以我们用热情和资金来让大家联合起来一起实现全球化可持续发展的目标。</p>
	</div>
</section>
{% endblock %}
