{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/global.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/generic-classes.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/navigation.css' %}" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		{% block head %}{% endblock %}
	    <title>{% block title %}Urban Cactus{% endblock %}</title>
	</head>
	<body>
	    <nav class="topdown">
			<img class="pull-left" src="{% static 'core/images/website/logo.png' %}" height="30" style="padding: 5px;"></img>
			<img class="menu-button pull-right mobile-only" onclick="$('nav > span').toggleClass('desktop-only');" src="{% static 'core/images/website/menu.png' %}" height="20" style="padding: 10px;"></img>
			<span class="desktop-only"><a href="/">Home</a></span>
			<span class="desktop-only"><a href="/about">About Us</a></span>
			<span class="desktop-only">
				<a href="#">SPI</a>
				<ul>
					<li class="header"><a href="/spi">Sustainable Products Initiative</a></li>
					<li><a href="/map">Map</a></li>
					<li><a href="/spi#join">Join</a></li>
				</ul>
			</span>
			<span class="desktop-only">
				<a href="#">N#</a>
				<ul>
					<li><a href="/products">Products</a></li>
					<li><a href="#">Store</a></li>
					<li><a href="/partners">Partners</a></li>
				</ul>
			</span>
			<span class="desktop-only">
				<a href="#">Events</a>
				<ul>
					<li class="header"><a href="/events">Community Building Events</a></li>
					{% for event in upcoming_events %}
						<li><a href="/events/{{ event.slug }}">{{ event.chinese_name }}</a></li>
					{% endfor %}
					<li><a href="/events/archive">Previous Events</a></li>
				</ul>
			</span class="desktop-only">
			<span class="desktop-only"><a href="/contact">Contact</a></span>
			<span class="desktop-only"><a href="http://en.urbancactus.earth{{ request.path }}"><img src="{% static 'core/images/website/en.png' %}"></img></a></span>
		</nav>

		{% block slideshow %}{% endblock %}

	    <div id="content">
	        {% block content %}{% endblock %}
	    </div>

		<footer>
			<div class="pull-right">
				<img src="{% static 'core/images/website/wechat.png' %}"></img>
			</div>
			<div class="pull-right align-right">
				<strong>Contact Us</strong>
				<br>
				<em>
					Address #154, Street<br>
					Big City, China<br>
					+186 135 2304 6016<br>
					<a href="mailto:contact@urbancactus.earth">contact@urbancactus.earth</a>
				</em>
			</div>
			<small>Copyright (c) 2017 Urban Cactus, All Rights Reserved.</small>
		</footer>
	</body>
	{% if js_data %}
		<script type="text/javascript">
			var python_data = {{ js_data|safe }};
		</script>
	{% endif %}
</html>
