
.column-2 {
	display: inline-block;
	box-sizing: border-box;
	width: 49%;
}

.pull-right { float: right; }
.pull-left { float: left; }

.align-left { text-align: left !important; }
.align-center { text-align: center !important; }
.align-right { text-align: right !important; }

.mobile-only {
	display: none;
}

@media(max-width: 500px) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: inherit;
	}

	.column-2 {
		width: 100%;
	}
}
