
h1 {
	position: absolute;
	left: 2em;
	top: 0;
	margin: 0;

	color: lightgray;
	font-family: sans-serif;
	line-height: 20px;
}

#content section {
	border-bottom: 4px solid lightgray;
	text-align: center;
}

#content {
	max-width: 100%;
	padding: 0;
}

#intro {
	height: calc(100% - 50px);
	width: auto;
}

#map {
	position: relative;
	height: 400px;
}

#map aside {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 16px;
	margin: 1%;
	width: 200px;
	z-index: 1000;

	border: 2px solid black;
	border-radius: 2px;
	background: black;
	opacity: 0.75;
}

#products,
#events {
	position: relative;
	padding: 3em 0;
}

#about img {
	margin: 0.5em;
}

#about,
.map-details {
	padding: 5% 10%;
}

.map-details {
	position: relative;
}

aside.map-details {
	position: absolute;
	top: 5px;
	bottom: 20px;
	right: 5px;
	background: white;
	padding: 1em;
}

.map-details big {
	display: block;
	font-size: 5em;
}

#products article {
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 330px;
	margin: 8px;

	line-height: 20px;
	vertical-align: text-top;
	border: 1px solid darkgray;
}

#products article a {
	display: block;
	height: 100%;
}

#products article:nth-child(odd) {
	margin-top: 5em;
}

#products article:last-child {
	font-size: 2em;
	line-height: 330px;
}

#products article:last-child a {
	color: darkgray;
}

#events article {
	display: inline-block;
	width: 340px;
	padding: 0.5em;
}

#events img {
	border: 1px solid darkgray;
}

#products img,
#events img {
	width: 100%;
}

@media(min-width: 882px) {
	section.map-details {
		display: none;
	}
}

@media(max-width: 882px) {
	#products article {
		margin: 8px !important;
	}

	aside.map-details {
		display: none;
	}
}

@media(max-width: 500px) {
	#products article {
		width: 150px;
		height: 255px;
		margin: 8px !important;
	}
}
