
html, body, #map {
    height: 100vh;
    width: 100vw;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
}

.leaflet-top {
	top: 50px !important;
}

#content {
	padding: 0;
	margin: 0;
}

footer {
	display: none;
}
