{% extends "en/navigation.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/page-events-single.css' %}" />
{% endblock %}

{% block title %}{{ event.english_name }} | Urban Cactus{% endblock %}

{% block before-navigation %}
{% endblock %}

{% block content %}
<div class="image" style="background-image: url('{% static 'core/images/events/' %}{{ event.image }}');"></div>
<h1>{{ event.english_name }}</h1>
<small>{{ event.event_date }}</small>
<div>{{ event.english_full_description }}</div>
{% endblock %}
